<h1> Listings </h1>

<div>

<% @listings.each do |listing| %>
<%= listings.index %>
<h1><%= listing.price %></h1>
<h2><%= listing.listing %> </h2>
 <%# <% link_to 'view listing', listing, class: "btn btn-default"%> %>
  <%# <% if author_of(listing)%>
 <%# <%= link_to 'Edit', edit_listing_path(listing) do %> %> %>
<% end %>
</div>
<div>
</div>
</table>


