<h1> Listings </h1>

<div>
<%= @listings %>
<% @listings.each do |listing| %>
<%= listing.price %>
<h2><%= listing.listingname %> </h2>
 <%# <% link_to 'view listing', listing, class: "btn btn-default"%> %>
  <%# <% if author_of(listing)%>
 <%# <%= link_to 'Edit', edit_listing_path(listing) do %> %> %>
<% end %>
</div>
<div>
</div>
</table>

