<h1>Books</h1>

<% if policy(Listing).new? %>
    <p><%= link_to "New listing", new_listing_path %></p>
<% end %>

<table>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
   
</table>
    